html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

@media (prefers-color-scheme: light) {
  body {
    background-color: #ffffff;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #1a202c;
  }
}
