.full-page-blur {
  backdrop-filter: blur(10px) saturate(180%);
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: 1;
}

#full-page-blur-light {
  background-color: rgba(237, 242, 247, 0.5);
}

#full-page-blur-dark {
  background-color: rgba(0, 0, 0, 0.5);
}
